.hp_newsItem {
    width: 100%;
    font-size: 90%;
    color: #555;
    line-height: 1.8;
    text-align: justify;
    direction: rtl;
    border: #e6f7fe 1px solid;
    padding: 15px;
    display: block;
    height: 420px;
    overflow: hidden;

    &:hover {
        background: #e6f7fe;
    }

    img {
        width: 100%;
        height: 100%;
        min-height: 210px;
        -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 2s;
        /* For Safari 3.1 to 6.0 */
        transition: width 0.5s, height 0.5s, transform 0.5s, margin 0.5s;

        &:hover {
            width: 120%;
            height: 120%;
            margin: -15px;
            transform: rotate(-2deg);
        }
    }

    span {
        text-align: $right;
        background: #e24755;
        color: #fff;
        font: 100% $font-family;
        padding: 10px;
        margin: -50px 25px 0 0;
        position: absolute;
        z-index: 1000;
        #{$right}: 15px;
        display: block;

        &:hover {
            background: #0F83B4;
        }
    }

    h4 {
        text-align: justify;
        line-height: 1.7;
        padding-top: 10px;
        color: #555;
        font-family: $font-family;
        font-weight: 800;
        font-size: 14px;

        &:hover {
            color: #0F83B4;
        }
    }

    p {
        &:hover {
            color: #0F83B4;
        }
    }
}

// News Action 
.newsActions {
    border: #e6f7fe 1px solid;
    padding: 15px;
    border-top: none;
    text-align: $left;
    color: #ddd;

    a {
        color: #bbb;
        margin: 0 3px;
        font-family: $font-family;

        &:hover {
            color: #0F83B4;
        }
    }
}

.readMore {
    float: $right;
    border-#{$left}: #eee 1px solid;
    padding-#{$left}: 20px;
    font-family: $font-family;

    i {
        color: #e24755;
    }
}

// Latest News
.newKuwaitSec {
    img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.innerNewsImg {
    img {
        width: 100%;
        margin-bottom: 15px;
    }
}

.innerNewsBdy {
    text-align: justify;
}

.innerNewsBdy {

    p,
    div {
        line-height: 2;
        font-size: 13px;
    }

    b {
        color: #0F83B4;
        padding: 10px 0;
        display: block;
        font-size: 15px;
    }
}

// News List
.news-list {
    position: relative;

    .filter-btns {
        margin-bottom: 30px;
        padding: 0 15px;

        label {
            font-size: 1rem;
            font-weight: 600;
            float: $right;
            margin-#{$left}: 15px;
        }

        .input.btns {
            input {
                border: 0;
                background: transparent;
                font-family: inherit;
                margin: 0;
                padding: 0;
                font-size: 14px;
                font-weight: 600;
                margin-#{$left}: 6px;
                border-#{$left}: 1px solid #cacaca;
                padding-#{$left}: 10px;

                &:last-child {
                    border-#{$left}: 0;
                }

                &:hover {
                    color: #405d95;
                }
            }
        }
    }
}

.news-item {
    margin-bottom: 30px;

    &:nth-child(3n-1) {
        clear: both;
    }

    .card {
        background: #ffffff;
        box-shadow: 0px 7px 20px -5px #beb9b9;
        -webkit-box-shadow: 0px 7px 20px -5px #beb9b9;
        -moz-box-shadow: 0px 7px 20px -5px #beb9b9;
        -ms-box-shadow: 0px 7px 20px -5px #beb9b9;
        min-height: calc(100%);
        height: auto;
        max-height: 100%;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;

        .card-header {
            max-height: 210px;
            height: 100%;
            overflow: hidden;
            position: relative;

            figure {
                img {
                    width: 100%;
                    height: 100%;
                    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    -ms-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
        }

        .card-content {
            padding: 15px 20px;
            min-height: 18rem;
            overflow: hidden;
            max-height: 100%;
            margin-top: 0;
            text-align: $right;

            .card-date {
                color: #646363;
                padding: 0;
                font-size: 0.95rem;
                margin-bottom: 10px;
            }

            .card--title {
                color: #010101;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
                line-height: 1.8;
                margin-top: 0;

                &:after {
                    content: "";
                    background: #405d95;
                    height: 2px;
                    border-radius: 5px;
                    width: 0;
                    display: block;
                    margin: 10px 0 8px;
                    transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    -ms-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }

            .card--description {
                color: #101010;
                font-size: 15px;
                text-align: right;
                line-height: 1.7;
                font-family: "JFlat";
            }
        }

        .card--date {
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 0.9rem;

            i {
                font-size: 1rem;
                float: $right;
                margin-top: 3px;
                margin-#{$left}: 5px;
            }
        }

        .card--location {
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 1rem;
            font-family: "JFlat";

            i {
                font-size: 1.4rem;
                float: $right;
                margin-top: 2px;
            }
        }
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;

            .card {

                //background: #f9f9f9;
                figure {
                    img {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        opacity: 0.6;
                    }
                }

                .card--title {
                    color: #405d95;

                    &:after {
                        content: "";
                        background: #405d95;
                        height: 2px;
                        border-radius: 5px;
                        width: calc(100% - 65%);
                        display: block;
                        margin: 10px 0 8px;
                    }
                }
            }
        }
    }
}