.pager {
    width: 100%;
    clear: both;
    margin-top: 30px;
    position: relative;
    display: inline-block;

    span[id$=lvDataPager1] {

        a,
        span {
            margin-#{$left}: 10px;
            margin-bottom: 20px;
            display: inline-block;
            border-radius: 0;
            width: 35px;
            height: 35px;
            background: #f2f2f2;
            line-height: 35px;
            font-weight: 400;
            color: #101010;
            font-size: 18px;
            transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
            -moz-transition: background-color .2s ease-in-out;
            -ms-transition: background-color .2s ease-in-out;
            margin-top: 40px;

            &:hover {
                text-decoration: none;
                background: #405d95;
                color: #fff;
            }
        }

        span {
            background: #405d95;
            color: #fff;
        }
    }


    br {
        display: none;
    }

    div {
        width: 100%;
        text-align: center;
        direction: rtl;
        margin: 0 auto;

        a,
        strong {
            margin-#{$left}: 10px;
            margin-bottom: 20px;
            display: inline-block;
            border-radius: 0;
            width: 35px;
            height: 35px;
            background: #f2f2f2;
            line-height: 35px;
            font-weight: 400;
            color: #101010;
            font-size: 18px;
            transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
            -moz-transition: background-color .2s ease-in-out;
            -ms-transition: background-color .2s ease-in-out;
            margin-top: 40px;

            &:hover {
                text-decoration: none;
                background: #405d95;
                color: #fff;
            }
        }

        strong {
            background: #405d95;
            color: #fff;
        }

        .Next,
        .Prev {
            width: auto;
            background: transparent;
            font-size: 16px;
            font-weight: 400;

            &:hover {
                background: transparent;
                color: #405d95;
            }
        }

        .Next {
            margin-#{$right}: 10px;
        }

        .Prev {
            margin-#{$left}: 20px;
        }
    }
}