$lang: en;
$txt-direction: left;
$left: right;
$right: left;
$dir: ltr;
$dirInv :rtl;
$ltr: rtl;
$rtl: ltr;
$arrow-dir:"\f104";
$arrow-dir-Inv:"\f105";
$arrow-dir-menu:"\f0d9";
$font-family: 'DroidKufi',
sans-serif;
$font-secondary: 'DroidKufi',
sans-serif;