$lang: ar;
$txt-direction: right;
$left: left;
$right: right;
$dir: rtl;
$dirInv: ltr;
$ltr: ltr;
$rtl: rtl;
$arrow-dir:"\f104";
$arrow-dir-Inv:"\f105";
$arrow-dir-menu:"\f0d9";
$font-family: 'DroidKufi',
sans-serif;
$font-secondary: 'DroidKufi',
sans-serif;